﻿@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <img src="~/Content/Images/1.jpg" height="220" width="1010" class="glyphicon-text-background">
    <h1 class="u-text-center" align="center"> RENT A CAR</h1>
    <p>
        Va multumim ca ati intrat pe pagina noastra de inchirieri.
        Speram sa gasiti aici masina care  se potriveste nevoilor dumneavoastra.
        Va asiguram ca preturile noastre de inchiriere sunt printre cele mai mici din oras.
    </p>

</div>

<div class="row">
    <div class="col-md-4" color=red>
        
        <h2>Contact:</h2>
        <p>
            Ne poti contacta oricand la numarul de telefon <b> 0768003688</b> sau pe adresa de email <b>office@rentacar.com.</b>

        </p>
    </div>

    <div class="col-md-4">
        <h2>Masina economica:</h2>
        <img src="~/Content/Images/car-11.jpg"  class="glyphicon-text-background">


        <p><a class="btn btn-primary" href="http://localhost:2970/cars/rent/11">RENT</a></p>
        <p><a class="btn btn-primary" href="http://localhost:2970/cars">RENT ANOTHER CAR</a></p>
    </div>

    <div class="col-md-4">
        <h2>Cea mai noua masina:</h2>
        <p></p>
  
        <img src="~/Content/Images/car-15.jpg"  class="glyphicon-text-background">

        <p><a class="btn btn-primary" href="http://localhost:2970/cars/rent/15">RENT</a></p>
        <p><a class="btn btn-primary" href="http://localhost:2970/cars">RENT ANOTHER CAR</a></p>
    </div>


</div>